header{
    position: sticky;
    top: 20px;
    z-index: 9999;
}

header .container{
    background-color: var(--light);
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.header-links .sub-links{
    display: none;
    position: absolute;
    top: calc(100% + 50px);
    padding: 20px;
    background-color: red;
}

.header-links > div:nth-last-child(1) > .sub-links{
    display: none;
    position: absolute;
    top: calc(100% + 50px);
    right: 0;
    padding: 20px;
    background-color: pink;
}

.header-links .sub-links .sub-links{
    top: 0;
    left: 100%;
}

header .burger{
    display: none;
}

.header-links > div{
    position: relative;
}

.header-links > div > .sub-links::before{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255,255,0,0.5);
}

.header-links a:not([href]){
    background-color: red;
    cursor: pointer;
}

.header-links > div:hover > .sub-links{
    display: block;
}

.header-links > div:hover > a{
    background-color: red;
}

.header-links > div > .sub-links > li:hover{
    background-color: blue;
}

.header-links > div > .sub-links > div > .sub-links > a:hover{
    background-color: blue;
}

.header-links > div > .sub-links > div > .sub-links::before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 20px;
    height: 100%;
    background-color: rgba(255,255,0,0.5);
}

.header-links > div > .sub-links div:hover > .sub-links{
    display: block;
}

@media (max-width: 992px){
    header .burger{
        display: block;
    }

    .header-links >div {
        position: static;
        margin-bottom: 20px;
    }

    header .header-links{
        position:absolute;
        top: 100%;
        flex-direction: column;
        left: 0;
        padding: 20px;
        background-color: var(--light);
        overflow: hidden;
        min-height: calc(100dvh - 90px);
        justify-content: start;
    }

    .header-links .sub-links{
        display: block!important;
        /* height: calc(100vh - 60px); */
    }

    .header-links > div > .sub-links{
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0%;
        padding: 20px;
        background-color: green;
        width: 100%;
        transition: transform 0.3s ease;
        z-index: 9999;
        transform: translateX(100%);
        height: 100%;
    }

    /* .header-links >  div:nth-last-child(1) > .sub-links{
        top: auto;
        bottom: 0;
        right: auto;
        background-color: green;
    } */

    .header-links > div:nth-last-child(1) > .sub-links{
        display: flex;
        position: absolute;
        top: 0;
        right: auto;
        padding: 20px;
        background-color: pink;
    }

    .header-links > div:hover > .sub-links{
        visibility: visible;
        transform: translateX(0%);
    }

    .header-links .sub-links .sub-links {
        top: 0;
        left: 0;
        display: flex!important;
        flex-direction: column;
    }

    .header-links > div > .sub-links > div > .sub-links{
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0%;
        padding: 20px;
        background-color: green;
        width: 100%;
        transition: transform 0.3s ease;
        z-index: 9999;
        transform: translateX(100%);
    }

    .header-links >  div:nth-last-child(1) > .sub-links > div > .sub-links{
        top: auto;
        bottom: 0;
    }

    .header-links > div > .sub-links > div:hover > .sub-links{
        visibility: visible;
        transform: translateX(0%);
    }
}