[data-hf-tab] {
  display: none;
}

[data-hf-tab='active'] {
  display: block;
}

[data-hf-accordion-item-body] {
  display: none;
}

[data-hf-accordion-item='active'] [data-hf-accordion-item-body] {
  display: block;
}

[data-hf-menu='multilevel'] ul ul {
  display: none;
}

[data-hf-menu='multilevel'] li.active {
  padding: 20px;
  border: 2px solid green;
}

[data-hf-menu='multilevel'] li.active > ul {
  display: block;
}

[data-hf-menu='multilevel'] ul {
  padding: 20px;
  border: 2px solid red;
}

[data-hf-menu='multilevel'] a {
  min-width: 200px;
  display: block;
}
