@font-face {
  font-family: 'Onest';
  src: local('Onest-Light'), local('Onest-Light'),
    url('../fonts/Onest/Onest-Light.woff2') format('woff2'),
    url('../fonts/Onest/Onest-Light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Onest';
  src: local('Onest-Regular'), local('Onest-Regular'),
    url('../fonts/Onest/Onest-Regular.woff2') format('woff2'),
    url('../fonts/Onest/Onest-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Onest';
  src: local('Onest-Medium'), local('Onest-Medium'),
    url('../fonts/Onest/Onest-Medium.woff2') format('woff2'),
    url('../fonts/Onest/Onest-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Onest';
  src: local('Onest-SemiBold'), local('Onest-SemiBold'),
    url('../fonts/Onest/Onest-SemiBold.woff2') format('woff2'),
    url('../fonts/Onest/Onest-SemiBold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Onest';
  src: local('Onest-Bold'), local('Onest-Bold'),
    url('../fonts/Onest/Onest-Bold.woff2') format('woff2'),
    url('../fonts/Onest/Onest-Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Onest';
  src: local('Onest-Black'), local('Onest-Black'),
    url('../fonts/Onest/Onest-Black.woff2') format('woff2'),
    url('../fonts/Onest/Onest-Black.woff') format('woff');
  font-weight: 900;
}
@font-face {
  font-family: 'Wix Madefor Text';
  src: local('Wix Madefor Text Bold'), local('Wix Madefor Text Bold'),
    url('../fonts/WixMadeforText/WixMadeforText-Bold.woff2') format('woff2'),
    url('../fonts/WixMadeforText/WixMadeforText-Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Wix Madefor Text';
  src: local('Wix Madefor Text ExtraBold'), local('Wix Madefor Text ExtraBold'),
    url('../fonts/WixMadeforText/WixMadeforText-ExtraBold.woff2')
      format('woff2'),
    url('../fonts/WixMadeforText/WixMadeforText-ExtraBold.woff') format('woff');
  font-weight: 900;
}
:root {
  --ff-primary: 'Onest', sans-serif;
  --ff-secondary: 'Wix Madefor Text', sans-serif;
  --white: #fff;
  --black: #000;
  --light: #f9f9f9;
  --light-border: #e9e9e9;
  --light-gray: #f3f3f3;
  --gray: #666;
  --dark-gray: #575757;
  --orange: #ff4409;
  --color-gradient: linear-gradient(
    264deg,
    #f6d5ab,
    #e56805 46%,
    #cf3c0b 75%,
    #611e1a 100%
  );
  --border-gradient: linear-gradient(90deg, #ff4207 4.43%, #ffb38d 98.86%);
  --fs-1: 4.6rem;
  --fs-2: 3.1rem;
  --fs-3: 2.5rem;
  --fs-4: 1.6rem;
  --fs-5: 1.6rem;
  --fs-6: 1.4rem;
  --fs-7: 1.4rem;
  --button-fs: 1.6rem;
  --text-fs: 1.6rem;
  --transition: all 300ms ease;
}
@media (min-width: 768px) {
  :root {
    --fs-1: 9.6rem;
    --fs-2: 6.2rem;
    --fs-3: 4rem;
    --fs-4: 3.2rem;
    --fs-5: 2.4rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
    --button-fs: 1.8rem;
    --text-fs: 1.8rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: var(--text-fs);
  line-height: 1.2;
  color: var(--black);
  background: var(--light);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
main {
  overflow: hidden;
}
footer {
  background: var(--gray);
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.is-lock {
  overflow: hidden;
}

h1 {
  font-family: var(--ff-secondary);
  font-weight: 900;
  font-size: var(--fs-1);
}

h2 {
  font-weight: 600;
  font-size: var(--fs-2);
}

h3 {
  font-weight: 700;
  font-size: var(--fs-3);
}

h4 {
  font-weight: 600;
  font-size: var(--fs-4);
}

h5 {
  font-weight: 600;
  font-size: var(--fs-5);
}

h6 {
  font-weight: 400;
  font-size: var(--fs-6);
}

.gradient-text {
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px 30px;
  font-size: var(--button-fs);
  border-radius: 50px;
  font-family: var(--ff-primary);
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  line-height: 1;
  display: inline-block;
}

@keyframes button-arrow {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translate(50%, -50%);
    opacity: 0;
    z-index: -1;
  }

  51% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.gradient-button {
  background: var(--color-gradient);
  color: #fff;
  padding: 18px 60px 18px 40px;
  background-size: 100%;
  background-position: 0 0;
}

.gradient-button::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gradient-button::before {
  content: url('/assets/images/icons/button_arrow__white.svg');
  position: absolute;
  right: 3px;
  top: 53%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  line-height: 1;
}

.gradient-button:hover::before {
  animation: button-arrow 0.4s forwards;
}

.gradient-button:hover {
  background-size: 400%;
}

.border-button {
  background-color: transparent;
  color: var(--orange);
  border-radius: 50px;
}

.border-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 2px solid transparent;
  background: var(--border-gradient) border-box;
  -webkit-mask: linear-gradient(var(--orange) 0 0) padding-box,
    linear-gradient(var(--orange) 0 0);
  -webkit-mask-composite: destination-out;
  background-position: right;
  background-size: 100%;
  transition: var(--transition);
}

.border-button:hover::before {
  background-position: left;
  background-size: 300%;
}
.transparent-button {
  background: transparent;
  color: #fff;
  padding: 18px 60px 18px 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0);
}

.transparent-button::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--button-font-size);
}

.transparent-button::before {
  content: url('/assets/images/icons/button_arrow__gradient.svg');
  position: absolute;
  right: 3px;
  top: 53%;
  transform: translateY(-50%);
  height: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--button-font-size);
  z-index: 1;
}

.transparent-button:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.transparent-button:hover::before {
  animation: button-arrow 0.5s forwards;
}

.link-button {
  background-color: transparent;
  color: var(--orange);
  padding: 0 16px 0 0;
  transition: 0.3s all ease;
  overflow: visible;
}
.link-button.back {
  padding: 0 0 0 16px;
}
.link-button::before {
  content: url('/assets/images/icons/button_arrow__main.svg');
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--button-fs);
  z-index: 1;
}

.link-button::after {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 105%;
  height: 2px;
  background-color: var(--orange);
  transition: 0.3s all ease;
  left: -5%;
  opacity: 0;
}

.link-button:hover::after {
  opacity: 1;
}

.link-button.back::before {
  left: 0;
  right: auto;
  transform: translateY(-50%) rotate(180deg);
}

.link-button.back::after {
  width: 110%;
  left: -5%;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: var(--white);
  z-index: 10000;
  width: auto;
  padding: 0 20px 0 30px;
  height: 70px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
/* START BURGER */
.burger {
  width: 60px;
  height: 60px;
  padding: 10px 7px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger span {
  width: 100%;
  border-radius: 50px;
  height: 8px;
  background: #ff634a;
  position: relative;
  transform-origin: 0%;
  transition: var(--transition);
  opacity: 1;
}
.burger.open span:first-of-type {
  transform: rotate(45deg);
}
.burger.open span:nth-of-type(2) {
  opacity: 0;
  width: 0;
}
.burger.open span:last-of-type {
  transform: rotate(-45deg);
}
/* START MENU */
.menu {
  padding: 20px;
  position: fixed;
  background: var(--white);
  width: auto;
  left: 20px;
  right: 20px;
  top: 120px;
  z-index: 1000;
  border-radius: 20px;
  transform: translateY(calc(100vh - 120px));
  transition: all 500ms ease;
  overflow: hidden;
  height: auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
.menu.open {
  transform: translateY(0);
}
.menu__list {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  list-style: none;
  position: static;
  transform: none !important;
}
.menu__item {
  border-radius: 50px;
  background: transparent;
  font-size: 1.8rem;
  color: var(--gray);
  background: var(--color-gradient);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: var(--transition);
  display: flex;
  height: auto;
  position: static;
}
.menu__item:hover {
  color: var(--white);
  background-size: 100% 100%;
}
.menu__link {
  width: 100%;
  padding: 10px 20px;
  color: inherit;
  text-decoration: none;
}
.menu__link:hover {
  text-decoration: none;
  background: transparent;
  font-size: 1.8rem;
  cursor: pointer;
}
[data-hf-menu-button-back] {
  position: absolute;
  right: 20px;
  padding: 10px 20px;
}
.submenu {
  transition: var(--transition);
  position: absolute;
  transform: translateX(100%);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: var(--white);
  z-index: 100;
}
.menu__item.active .submenu {
  transform: translateX(0%);
}
.submenu__title {
  padding: 10px 20px;
  font-size: 2.4rem;
  font-weight: 600;
  position: relative;
}
.submenu__title:hover::before {
  transform: translateY(-50%) rotate(180deg) scale(1.3);
}
.submenu__list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 10px;
}
.submenu__item {
  border-radius: 6px;
  display: flex;
  transition: var(--transition);
  cursor: pointer;
}
.submenu__item:hover {
  background: var(--light-gray);
}
.submenu__link {
  text-decoration: none;
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  width: 100%;
  padding: 10px 20px 10px 25px;
}
.submenu__link::before {
  content: url('/assets/images/icons/arrow__black.svg');
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.submenu__item:hover .submenu__link {
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.submenu__item:hover .submenu__link::before {
  content: url('/assets/images/icons/arrow__gradient.svg');
}
.nested-menu {
  position: absolute;
  transform: translateX(100%);
  transition: var(--transition);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  padding: 20px;
  z-index: 200;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.submenu__item.active .nested-menu {
  transform: translateX(0%);
}
.nested-menu__list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 5px;
}
.nested-menu__title {
  padding: 10px 20px;
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
}
.nested-menu__title:hover:before {
  transform: translateY(-50%) rotate(180deg) scale(1.3);
}
.nested-menu__item {
  display: flex;
}
.nested-menu__link {
  color: var(--dark-gray);
  text-decoration: none;
  padding: 5px 25px;
  font-size: 1.2rem;
  width: 100%;
  transition: var(--transition);
}
.nested-menu__link:hover {
  text-decoration: underline;
}
@media (min-width: 992px) {
  [data-hf-menu-button-back] {
    display: none;
  }
  .header {
    gap: 30px;
  }
  .menu {
    transform: none;
    background: none;
    padding: 0;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: visible;
    box-shadow: none;
  }
  .menu__item {
    position: relative;
    z-index: 100;
  }
  .menu__list {
    max-width: 100%;
    flex-direction: row;
    gap: 0;
    justify-content: space-evenly;
    overflow: visible;
  }
  .burger {
    display: none;
  }
  .submenu {
    transform: none;
    width: 600px;
    height: 300px;
    top: 70px;
    bottom: auto;
    border-radius: 20px;
    gap: 20px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px 0px;
  }
  .submenu::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -28px;
    bottom: 0;
    z-index: -100;
  }
  .menu__item:hover > .submenu {
    display: flex;
  }
  .menu__item:last-of-type:hover > .submenu {
    display: flex;
    right: 0;
    left: auto;
  }
  .submenu__list {
    width: 40%;
  }
  .submenu__title {
    cursor: auto;
    padding: 0;
  }
  .submenu__link {
    padding: 5px;
    cursor: pointer;
  }
  .submenu__title::before {
    content: none;
  }
  .nested-menu {
    transform: none;
    width: 50%;
    background: var(--light-gray);
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    right: 20px;
    bottom: 20px;
    left: auto;
    top: 69px;
    height: auto;
  }
  .nested-menu__title {
    padding: 0;
    background: none !important;
    color: var(--black);
    -webkit-text-fill-color: var(--black) !important;
  }
  .nested-menu__title::before {
    content: none;
  }
  .nested-menu__link {
    padding: 0;
  }
}
/* END MENU */

/* START HERO */
.hero {
  height: 100vh;
}
.hero .container {
  height: 100%;
}
.hero .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 150px 0;
  position: relative;
}
.hero h1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero h1 span:last-child {
  font-size: 3.2rem;
  margin-top: -10px;
}
.hero img {
  position: absolute;
  z-index: -100;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -300px;
  min-width: 1000px;
}
.hero .subtitle {
  color: var(--black);
  font-family: var(--ff-secondary);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
}
.hero .text {
  color: var(--gray);
  margin-bottom: 20px;
  max-width: 460px;
}
@media (min-width: 768px) {
  .hero h1 span:last-child {
    font-size: 4.8rem;
  }
}
@media (min-width: 1200px) {
  .hero img {
    position: absolute;
    z-index: -100;
    max-width: 100%;
    right: -300px;
    bottom: -350px;
    min-width: 1600px;
    transform: none;
    left: auto;
  }
  .hero .subtitle {
    margin-top: 36px;
  }
  .hero .text {
    margin-bottom: 36px;
  }
  .hero .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
}
/* END HERO */
/* START PROJECTS */
.projects {
  padding: 0 0 50px;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects__item {
  width: 100%;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: flex-start;
  background-position: top;
  background-size: 100%;
  min-height: 500px;
  padding: 20px;
}
.projects__item img {
  height: 400px;
  object-fit: cover;
}
.projects__item span {
  color: #ffa476;
  margin-bottom: 20px;
}
.projects__item p {
  color: var(--gray);
  margin-top: 10px;
  margin-bottom: 30px;
}
.projects__item a {
}
@media (min-width: 768px) {
  .projects {
    padding: 0 0 100px;
  }
  .projects__item {
    width: calc(50% - 16px);
    background: transparent;
    padding: 45px;
    min-height: 800px;
  }
  .projects__item img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
  }
  .projects__item:nth-child(3n + 1) {
    min-height: 560px;
  }
  .projects__item:nth-child(3n + 1) .projects__content {
    max-width: 50%;
  }
  .projects__item:nth-child(3n + 1) {
    width: 100%;
    flex: 1 0 auto;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .projects__item span {
    color: #ffa476;
    margin-bottom: 36px;
  }
}
/* END PROJECTS */

/* START FAQ */
.faq {
  padding: 50px 0;
}
.faq__top {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.faq__top h2 {
  color: var(--gray);
}
.faq__top p {
  font-size: 1.8rem;
  color: var(--gray);
}
/* END FAQ */
@media (min-width: 768px) {
  .faq {
    padding: 100px 0;
  }
}
@media (min-width: 1200px) {
}
/* START ACCORDION */
.accordion__item {
  margin-bottom: 10px;
}
.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: var(--light-gray);
  border-radius: 22px;
  padding: 16px 72px 16px 16px;
  transition: var(--transition);
}

.accordion__header::before {
  content: '';
  background: var(--white)
    url('/assets/images/icons/button_arrow__gradient.svg') no-repeat;
  background-position: center;
  position: absolute;
  right: 16px;
  height: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  transform: rotate(90deg);
}
[data-hf-accordion-item='active'] .accordion__header::before {
  transform: rotate(270deg);
}
.accordion__body {
  display: block;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: var(--transition);
  transition: all 0.5s ease-in-out;
  z-index: -100;
  position: relative;
  padding: 0 16px;
}
[data-hf-accordion-item='active'] .accordion__body {
  visibility: visible;
  max-height: 500px;
  opacity: 1;
  padding: 16px;
}
/* END ACCORDION */

/* .col {
  display: flex;
  flex-direction: column;
} */

.steps {
  height: calc(100vh - 40px);
  border-radius: 37px;
  margin: 20px;
  background-position: bottom;
  display: flex;
  align-items: center;
  background-size: cover;
}

.steps h2 {
  color: #fff;
  margin-bottom: 30px;
}

.steps p {
  color: #fff;
  margin-bottom: 30px;
  font-size: var(--text-fs);
}

.steps .button {
  margin-bottom: 50px;
}

.steps .swiper {
  border-radius: 30px;
  width: 600px;
  margin: 0px;
  min-height: 350px;
}

/* .steps .swiper::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(230, 17, 17, 0.35);
  z-index: 99999;
} */

.steps .swiper-pagination {
  position: relative;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.15);
  border-radius: 17px;
  padding: 6px;
  width: fit-content;
}

.steps .swiper-pagination.swiper-pagination-bullets-dynamic {
  left: 0;
  transform: none;
}

.steps .swiper-pagination-bullet {
  opacity: 1;
  background: transparent;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 17px;
  transition: 0.3s all ease;
  transform: scale(1) !important;
  position: relative;
}

.steps .swiper-pagination-bullet .num {
  color: rgb(255, 255, 255, 0.5);
  font-size: var(--text-3);
  line-height: 1;
  transition: 0.3s all ease;
  user-select: none;
}

.steps .swiper-pagination-bullet .dot {
  width: 6px;
  height: 6px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: 0.3s all ease;
}

.steps .swiper-pagination-bullet:hover .num {
  color: rgb(255, 255, 255, 0.7);
  transform: scale(1.2);
}

.steps .swiper-pagination-bullet:hover .dot {
  background-color: rgb(255, 255, 255, 0.7);
  transform: scale(1.8);
}

.steps .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255, 0.2);
}

.steps .swiper-pagination-bullet.swiper-pagination-bullet-active .num {
  color: #fff;
  transform: scale(1.4);
}

.steps .swiper-pagination-bullet.swiper-pagination-bullet-active .dot {
  /* width: 16px;
    height: 16px; */
  background-color: #fff;
  border-radius: 50%;
  transform: scale(2.2);
}

.steps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.steps .card {
  width: 100%;
  height: 100%;
  margin: 0 20px;
  border-radius: 30px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.steps .card p {
  margin-top: 15px;
  font-size: var(--text-3);
  font-weight: 500;
  color: #000;
}
/* PARTNERS */
.partners {
  padding: 50px 0;
}
.partners h2 {
  margin-bottom: 30px;
  text-align: center;
}
.partners .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .partners {
    padding: 100px 0;
  }
}
/* END PARTNERS */

/* FORM */

.form {
  display: flex;
  background: #fff;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 50px;
}
.form-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.form-content > p {
  color: #666666;
  margin: 10px 0 40px;
  line-height: 1.2;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: 'Onest', sans-serif;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
}
form input {
  border: 2px solid #e8e8e8;
  outline: none;
  border-radius: 40px;
  padding: 15px 18px;
  font-family: 'Onest', sans-serif;
  color: #2b2b2b;
  font-size: 1.8rem;
  font-weight: 400;
  transition: all 0.5s ease;
}
form input::placeholder {
  font-family: 'Onest', sans-serif;
  color: #777777;
  font-size: 1.8rem;
  font-weight: 400;
}
form input:focus {
  border: 2px solid #ffb404;
  background: rgba(255, 180, 4, 0.08);
  box-shadow: 0 0 5px 0 #ff9900;
}
.form .button {
  margin-top: 16px;
}
.form-img {
  border-radius: 20px;
  overflow: hidden;
  max-height: 300px;
}
.form-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .form-img {
    max-height: 100%;
  }
}
@media (min-width: 992px) {
  .form-content {
    padding: 0 60px;
  }
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .form-img {
    max-height: 100%;
  }
  .nested-menu {
    display: none;
  }
  .submenu__item.active > .nested-menu {
    display: block;
  }
}
/* END FORM */

@media (max-width: 1200px) {
  .steps {
    background-position: bottom right;
    padding: 100px 50px;
    height: auto;
  }
  .steps-container {
    grid-template-columns: 1fr;
  }

  .steps .card {
    margin: 0;
    height: 500px;
  }
}

@media (max-width: 767px) {
  .steps {
    padding: 60px 0px 20px 00px;
    border-radius: 47px;
  }
  .steps .swiper {
    width: 100% !important;
  }
  .steps .card {
    width: 100%;
    padding: 15px;
    height: 350px;
    margin: 0;
  }

  .steps .swiper-pagination-bullet {
    width: 38px;
    height: 38px;
    border-radius: 10px;
  }

  .steps .swiper-pagination-bullet:hover .num {
    color: rgb(255, 255, 255, 0.7);
    transform: scale(1.1);
  }

  .steps .swiper-pagination-bullet:hover .dot {
    background-color: rgb(255, 255, 255, 0.7);
    transform: scale(1.5);
  }

  .steps .swiper-pagination-bullet.swiper-pagination-bullet-active .num {
    transform: scale(1.1);
  }

  .steps .swiper-pagination-bullet.swiper-pagination-bullet-active .dot {
    transform: scale(1.5);
  }
}

/* scale-accordion */
.scale-accordion .accordion-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: var(--white);
  border-radius: 22px;
  padding: 20px 30px;
  transition: 0.3s all ease;
  margin-bottom: 10px;
  line-height: 1;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.2);
}

.scale-accordion
  .accordion-item[data-hf-accordion-item='active']
  .accordion-item-header {
  color: rgba(0, 0, 0, 1);
  padding: 40px 30px;
}

.scale-accordion .accordion-item-header-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 20px;
}

.scale-accordion .accordion-item-header .accordion-item-text {
  font-size: var(--text-fs);
  font-weight: 300;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease;
  height: 0px;
}

.scale-accordion
  .accordion-item[data-hf-accordion-item='active']
  .accordion-item-header
  .accordion-item-text {
  font-size: var(--text-fs);
  font-weight: 300;
  visibility: visible;
  opacity: 1;
  height: auto;
}

.scale-accordion .accordion-item-header .accordion-item-count {
  font-weight: 300;
  transform: translateY(-200%) scale(8);
  transition: 0.3s all ease;
  text-align: center;
  transform-origin: top center;
}

.scale-accordion
  .accordion-item[data-hf-accordion-item='active']
  .accordion-item-header
  .accordion-item-count {
  font-weight: 600;
  transform: translateY(-20%) scale(4);
  opacity: 1;
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: top center;
}

/* packages */
.packages {
  padding: 50px 0;
}
.packages .row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.packages h2 {
  color: var(--gray);
  margin-bottom: 30px;
}
.packages__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.packages__button {
  background: var(--white);
  border-radius: 22px;
  padding: 16px 16px 16px 64px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.packages__button:before {
  content: '';
  background: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  width: 28px;
  height: 28px;
  border: 2px solid var(--black);
  border-radius: 50%;
}
[data-hf-tabs-button='active'] {
  background: var(--color-gradient);
  color: var(--white);
}

[data-hf-tabs-button='active']:before {
  content: '';
  background: var(--white) url('/assets/images/icons/check__gradient.svg')
    no-repeat;
  position: absolute;
  background-position: center;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  width: 28px;
  height: 28px;
  border: 2px solid var(--white);
  border-radius: 50%;
}
.packages__buttons .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.packages__name {
  font-size: var(--fs-5);
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: var(--transition);
}

[data-hf-tabs-button='active'] .packages__name {
  background: var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.packages__description {
  font-size: var(--fs-7);
  transition: var(--transition);
}

.packages__price {
  font-size: var(--fs-4);
  font-weight: 600;
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: var(--transition);
}

[data-hf-tabs-button='active'] .packages__price {
  background: var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.packages__price--black {
  font-size: var(--fs-5);
  background: var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--black);
}
.packages__tab {
  display: none;
  flex-direction: column;
  gap: 30px;
}
.packages__tab[data-hf-tab='active'] {
  display: flex;
}
.packages__info {
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.packages__info::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  height: 10%;
  background: linear-gradient(
    360deg,
    #ac2a0a -36.37%,
    rgba(185, 50, 12, 0) 100%
  );
  z-index: 0;
  pointer-events: none;
}

.packages__list {
  height: 300px;
  overflow: auto;
  margin: 16px;
  padding: 0 16px 0 0;
}

.packages__list::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.packages__list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* Handle */
.packages__list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
.packages__list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

.packages__list li {
  border-bottom: 1px solid var(--white);
  font-size: var(--text-3);
  color: var(--white);
  background: transparent;
  padding: 10px 46px 10px 10px;
  position: relative;
}

.packages__list li.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.packages__list li:nth-last-child(n + 2) {
  margin-bottom: 16px;
}

.packages__list li:before {
  content: '';
  position: absolute;
  background: #ff4207 url('/assets/images/icons/cross__white.svg') no-repeat;
  background-position: center;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.packages__list li.active:before {
  background: var(--white) url('/assets/images/icons/check__green.svg')
    no-repeat;
  background-position: center;
}

/* cases */
.cases {
  padding: 50px 0;
}
.cases .row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cases .container > h2 {
  text-align: center;
  margin-bottom: 30px;
}
.cases__head {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.cases__head h2 {
  color: var(--gray);
}
.cases__head p {
  color: var(--gray);
}
.case {
  background: var(--white);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  gap: 30px;
}

.case h3 {
  font-size: var(--fs-3);
}
.case-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.case-tags li {
  border-radius: 20px;
  padding: 6px 12px;
  font-weight: 700;
  line-height: 1;
  background-color: rgba(255, 68, 9, 0.1);
  color: rgba(255, 68, 9, 1);
}
.case__img {
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  max-height: 350px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.case__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cases {
    padding-top: 50px;
    padding-bottom: 150px;
  }
  .case h3,
  .case .case-tags {
    padding: 0 30px;
  }
  .case:nth-child(even) {
    transform: translateY(100px);
  }
  .cases .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
