@font-face {
  font-family: 'Onest';
  src: local('Onest-Light'), local('Onest-Light'),
    url('../fonts/Onest/Onest-Light.woff2') format('woff2'),
    url('../fonts/Onest/Onest-Light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Onest';
  src: local('Onest-Regular'), local('Onest-Regular'),
    url('../fonts/Onest/Onest-Regular.woff2') format('woff2'),
    url('../fonts/Onest/Onest-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Onest';
  src: local('Onest-Medium'), local('Onest-Medium'),
    url('../fonts/Onest/Onest-Medium.woff2') format('woff2'),
    url('../fonts/Onest/Onest-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Onest';
  src: local('Onest-SemiBold'), local('Onest-SemiBold'),
    url('../fonts/Onest/Onest-SemiBold.woff2') format('woff2'),
    url('../fonts/Onest/Onest-SemiBold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Onest';
  src: local('Onest-Bold'), local('Onest-Bold'),
    url('../fonts/Onest/Onest-Bold.woff2') format('woff2'),
    url('../fonts/Onest/Onest-Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Onest';
  src: local('Onest-Black'), local('Onest-Black'),
    url('../fonts/Onest/Onest-Black.woff2') format('woff2'),
    url('../fonts/Onest/Onest-Black.woff') format('woff');
  font-weight: 900;
}
@font-face {
  font-family: 'Wix Madefor Text';
  src: local('Wix Madefor Text Bold'), local('Wix Madefor Text Bold'),
    url('../fonts/WixMadeforText/WixMadeforText-Bold.woff2') format('woff2'),
    url('../fonts/WixMadeforText/WixMadeforText-Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Wix Madefor Text';
  src: local('Wix Madefor Text ExtraBold'), local('Wix Madefor Text ExtraBold'),
    url('../fonts/WixMadeforText/WixMadeforText-ExtraBold.woff2')
      format('woff2'),
    url('../fonts/WixMadeforText/WixMadeforText-ExtraBold.woff') format('woff');
  font-weight: 900;
}
:root {
  --ff-primary: 'Onest', sans-serif;
  --ff-secondary: 'Wix Madefor Text', sans-serif;
  --white: #fff;
  --black: #000;
  --light: #f9f9f9;
  --light-border: #e9e9e9;
  --light-gray: #f3f3f3;
  --gray: #666;
  --dark-gray: #575757;
  --orange: #ff4409;
  --color-gradient: linear-gradient(
      275deg,
      #f6d5ab -18.6%,
      #e56805 37.68%,
      #cf3c0b 73.01%,
      #611e1a 104.36%
    ),
    linear-gradient(93.77deg, #ff4207 4.43%, #ffb38d 98.86%);
  --border-gradient: linear-gradient(90deg, #ff4207 4.43%, #ffb38d 98.86%);
  --fs-1: 4.6rem;
  --fs-2: 3.1rem;
  --fs-3: 2.5rem;
  --fs-4: 1.6rem;
  --fs-5: 1.6rem;
  --fs-6: 1.4rem;
  --button-fs: 1.6rem;
  --text-fs: 1.6rem;
  --transition: all 300ms ease;
}
@media (min-width: 767px) {
  :root {
    --fs-1: 9.6rem;
    --fs-2: 6.2rem;
    --fs-3: 4rem;
    --fs-4: 3.2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --button-fs: 1.8rem;
    --text-fs: 1.8rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: var(--text-fs);
  line-height: 1.2;
  color: var(--black);
  background: var(--light);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
main {
  overflow: hidden;
}
footer {
  background: var(--gray);
}
.header {
  max-width: 1280px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: var(--white);
  z-index: 10000;
  width: 100%;
  padding: 8px 40px;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.menu a {
  text-decoration: none;
  padding: 10px 20px;
  color: var(--gray);
  position: relative;
  border-radius: 50px;
  background: transparent;
}
.menu a:hover {
  color: var(--white);
  background: var(--color-gradient);
}
.menu a.active {
  color: var(--white);
  background: var(--color-gradient);
  transition: var(--transition);
  background-size: 100%;
  background-position: 0 0;
}
.menu a::before,
.menu a:after {
  content: none;
}
.menu a.active:hover {
  background-size: 400%;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
    border: 1px solid red;
  }
}
/* START HERO */
.hero {
  height: 100vh;
  position: relative;
  background: #ccc;
}
.hero .container {
  height: 100%;
}
.hero .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 100px 0;
}
.hero h1 {
  display: flex;
  flex-direction: column;
}
.hero h1 span:last-child {
  font-size: 2.4rem;
  margin-top: -10px;
}
.hero img {
  position: absolute;
  z-index: -100;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -300px;
  min-width: 1000px;
}
.hero .subtitle {
  color: var(--black);
  font-family: var(--ff-secondary);
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
}
.hero .text {
  color: var(--gray);
  margin-bottom: 20px;
  max-width: 460px;
}
@media (min-width: 767px) {
}
@media (min-width: 1200px) {
  .hero h1 span:last-child {
    font-size: 4.8rem;
  }
  .hero img {
    position: absolute;
    z-index: -100;
    max-width: 100%;
    right: -160px;
    bottom: -300px;
    min-width: 1600px;
    transform: none;
    left: auto;
  }
  .hero .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
}
/* END HERO */

/* :root {
  --h1: 9.6rem;
  --h2: 4rem;
  --h3: 2.5rem;
  --h4: 2.4rem;
  --h5: 2rem;
  --h6: 1.1rem;
  --color-gradient: linear-gradient(
      275deg,
      #f6d5ab -18.6%,
      #e56805 37.68%,
      #cf3c0b 73.01%,
      #611e1a 104.36%
    ),
    linear-gradient(93.77deg, #ff4207 4.43%, #ffb38d 98.86%);
  --border-gradient: linear-gradient(90deg, #ff4207 4.43%, #ffb38d 98.86%);
  --button-font-size: 1.13rem;
  --color-main: #ff4409;
  --text-3: 1.2rem;
} */

/* @media (max-width: 767px) {
  :root {
    --h1: 3rem;
    --h2: 2rem;
    --h3: 1.5rem;
    --h4: 1.4rem;
    --h5: 1.1rem;
    --h6: 1rem;
    --button-font-size: 1rem;
    --text-3: 1rem;
  }
} */

h1 {
  font-family: var(--ff-secondary);
  font-weight: 900;
  font-size: var(--fs-1);
}

h2 {
  font-weight: 600;
  font-size: var(--fs-2);
}

h3 {
  font-weight: 700;
  font-size: var(--fs-3);
}

h4 {
  font-weight: 600;
  font-size: var(--fs-4);
}

h5 {
  font-weight: 600;
  font-size: var(--fs-5);
}

h6 {
  font-weight: 400;
  font-size: var(--fs-6);
}

.gradient-text {
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px 30px;
  font-size: var(--button-fs);
  border-radius: 50px;
  font-family: var(--ff-primary);
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  line-height: 1;
  display: inline-block;
}

@keyframes button-arrow {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translate(50%, -50%);
    opacity: 0;
    z-index: -1;
  }

  51% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.gradient-button {
  background: var(--color-gradient);
  color: #fff;
  padding: 18px 60px 18px 40px;
  background-size: 100%;
  background-position: 0 0;
}

.gradient-button::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gradient-button::before {
  content: url('/assets/images/icons/button_arrow__white.svg');
  position: absolute;
  right: 3px;
  top: 53%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  line-height: 1;
}

.gradient-button:hover::before {
  animation: button-arrow 0.4s forwards;
}

.gradient-button:hover {
  background-size: 400%;
}

.border-button {
  background-color: transparent;
  color: var(--orange);
  border-radius: 50px;
}

.border-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 2px solid transparent;
  background: var(--border-gradient) border-box;
  -webkit-mask: linear-gradient(var(--orange) 0 0) padding-box,
    linear-gradient(var(--orange) 0 0);
  -webkit-mask-composite: destination-out;
  background-position: right;
  background-size: 100%;
  transition: var(--transition);
}

.border-button:hover::before {
  background-position: left;
  background-size: 300%;
}
.transparent-button {
  background: transparent;
  color: #fff;
  padding: 18px 60px 18px 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0);
}

.transparent-button::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--button-font-size);
}

.transparent-button::before {
  content: url('/assets/images/icons/button_arrow__gradient.svg');
  position: absolute;
  right: 3px;
  top: 53%;
  transform: translateY(-50%);
  height: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--button-font-size);
  z-index: 1;
}

.transparent-button:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.transparent-button:hover::before {
  animation: button-arrow 0.5s forwards;
}

.link-button {
  background-color: transparent;
  color: var(--orange);
  padding: 0 16px 0 0;
  transition: 0.3s all ease;
  overflow: visible;
}

.link-button::before {
  content: url('/assets/images/icons/button_arrow__main.svg');
  position: absolute;
  right: 0;
  top: 54%;
  transform: translateY(-50%);
  height: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--button-fs);
  z-index: 1;
}

.link-button::after {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 105%;
  height: 2px;
  background-color: var(--orange);
  transition: 0.3s all ease;
  left: -5%;
  opacity: 0;
}

.link-button:hover::after {
  opacity: 1;
}

.steps {
  height: calc(100vh - 40px);
  border-radius: 37px;
  margin: 20px;
  background-position: bottom;
  display: flex;
  align-items: center;
}

.steps h2 {
  color: #fff;
  margin-bottom: 32px;
}

.steps p {
  color: #fff;
  margin-bottom: 32px;
  font-size: var(--text-fs);
}

.steps .button {
  margin-bottom: 50px;
}

.steps .swiper {
  border-radius: 30px;
  width: 600px;
  margin: 0px;
  min-height: 350px;
}

/* .steps .swiper::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(230, 17, 17, 0.35);
  z-index: 99999;
} */

.steps .swiper-pagination {
  position: relative;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.15);
  border-radius: 17px;
  padding: 6px;
  width: fit-content;
}

.steps .swiper-pagination.swiper-pagination-bullets-dynamic {
  left: 0;
  transform: none;
}

.steps .swiper-pagination-bullet {
  opacity: 1;
  background: transparent;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 17px;
  transition: 0.3s all ease;
  transform: scale(1) !important;
  position: relative;
}

.steps .swiper-pagination-bullet .num {
  color: rgb(255, 255, 255, 0.5);
  font-size: var(--text-3);
  line-height: 1;
  transition: 0.3s all ease;
  user-select: none;
}

.steps .swiper-pagination-bullet .dot {
  width: 6px;
  height: 6px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: 0.3s all ease;
}

.steps .swiper-pagination-bullet:hover .num {
  color: rgb(255, 255, 255, 0.7);
  transform: scale(1.2);
}

.steps .swiper-pagination-bullet:hover .dot {
  background-color: rgb(255, 255, 255, 0.7);
  transform: scale(1.8);
}

.steps .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255, 0.2);
}

.steps .swiper-pagination-bullet.swiper-pagination-bullet-active .num {
  color: #fff;
  transform: scale(1.4);
}

.steps .swiper-pagination-bullet.swiper-pagination-bullet-active .dot {
  /* width: 16px;
    height: 16px; */
  background-color: #fff;
  border-radius: 50%;
  transform: scale(2.2);
}

.steps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.steps .card {
  width: 100%;
  height: 100%;
  margin: 0 20px;
  border-radius: 30px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.steps .card p {
  margin-top: 15px;
  font-size: var(--text-3);
  font-weight: 500;
  color: #000;
}
/* FORM */
.form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  padding: 20px;
}
.form-content {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 0 auto;
}
.form-content > p {
  color: #666666;
  margin: 10px 0 40px;
  line-height: 1.2;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: 'Onest', sans-serif;
  color: #000;
  font-size: 1.125rem;
  font-weight: 600;
}
form input {
  border: 2px solid #e8e8e8;
  outline: none;
  border-radius: 40px;
  padding: 18px;
  font-family: 'Onest', sans-serif;
  color: #2b2b2b;
  font-size: 1.125rem;
  font-weight: 400;
  transition: all 0.5s ease;
}
form input::placeholder {
  font-family: 'Onest', sans-serif;
  color: #777777;
  font-size: 1.125rem;
  font-weight: 400;
}
form input:focus {
  border: 2px solid #ffb404;
  background: rgba(255, 180, 4, 0.08);
  box-shadow: 0 0 5px 0 #ff9900;
}
.form .button {
  margin-top: 16px;
}
.form-img {
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .steps {
    background-position: bottom right;
    padding: 100px 50px;
    height: auto;
  }
  .steps-container {
    grid-template-columns: 1fr;
  }

  .steps .card {
    margin: 0;
    height: 500px;
  }
}

@media (max-width: 767px) {
  .steps {
    padding: 60px 0px 20px 00px;
    border-radius: 47px;
  }
  .steps .swiper {
    width: 100% !important;
  }
  .steps .card {
    width: 100%;
    padding: 15px;
    height: 350px;
    margin: 0;
  }

  .steps .swiper-pagination-bullet {
    width: 38px;
    height: 38px;
    border-radius: 10px;
  }

  .steps .swiper-pagination-bullet:hover .num {
    color: rgb(255, 255, 255, 0.7);
    transform: scale(1.1);
  }

  .steps .swiper-pagination-bullet:hover .dot {
    background-color: rgb(255, 255, 255, 0.7);
    transform: scale(1.5);
  }

  .steps .swiper-pagination-bullet.swiper-pagination-bullet-active .num {
    transform: scale(1.1);
  }

  .steps .swiper-pagination-bullet.swiper-pagination-bullet-active .dot {
    transform: scale(1.5);
  }
}

/* default-tabs */
.default-tabs .tabs-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  border-bottom: 1px solid var(--light-border);
}

.default-tabs .tab-button {
  width: 100%;
  display: block;
  background: transparent;
  border-radius: 0;
  overflow: visible;
  color: var(--gray);
}

.default-tabs [data-hf-tabs-button='active'] {
  color: var(--orange);
}

.default-tabs [data-hf-tabs-button='active']:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  bottom: -2px;
  left: 0;
  background-color: var(--orange);
  animation: width0-100 0.5s forwards;
}

@keyframes width0-100 {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

/* .default-accordion */
.default-accordion .accordion-item {
  margin-bottom: 10px;
}

.default-accordion .accordion-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: var(--light-gray);
  border-radius: 22px;
  padding: 20px 30px;
  transition: 0.3s all ease;
}

.default-accordion .accordion-item-header::after {
  content: '';
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--button-font-size);
  transition: 0.3s all ease;
}

.default-accordion .accordion-item-header::before {
  content: url('/assets/images/icons/button_arrow__gradient.svg');
  position: absolute;
  right: 33px;
  top: 51%;
  transform: translateY(-50%) rotate(90deg);
  height: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--button-font-size);
  z-index: 1;
  transition: 0.3s all ease;
}

.default-accordion
  .accordion-item[data-hf-accordion-item='active']
  .accordion-item-header::before {
  transform: translateY(-50%) rotate(270deg);
  right: 27px;
  top: 50%;
}

/* scale-accordion */

.scale-accordion .accordion-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: var(--white);
  border-radius: 22px;
  padding: 20px 30px;
  transition: 0.3s all ease;
  margin-bottom: 10px;
  line-height: 1;
  overflow: hidden;
}

.scale-accordion .accordion-item-header-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 20px;
}

.scale-accordion .accordion-item-header .accordion-item-text {
  font-size: var(--text-fs);
  font-weight: 300;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease;
}

.scale-accordion
  .accordion-item[data-hf-accordion-item='active']
  .accordion-item-header
  .accordion-item-text {
  font-size: var(--text-fs);
  font-weight: 300;
  visibility: visible;
  opacity: 1;
}

.scale-accordion .accordion-item-header .accordion-item-count {
  font-weight: 300;
  transform: translateY(-200%) scale(13);
  opacity: 0.3;
  color: var(--black);
  /* transform-origin: top left; */
  transition: 0.3s all ease;
  text-align: center;
  transform-origin: top center;
}

.scale-accordion
  .accordion-item[data-hf-accordion-item='active']
  .accordion-item-header
  .accordion-item-count {
  font-weight: 600;
  transform: translateY(0%) scale(4);
  opacity: 1;
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: top center;
}
